<!DOCTYPE html>
<head>
    <title>
        About
    </title>
    <link  rel="icon" href="http://icons.iconarchive.com/icons/icons8/ios7/128/Weather-Partly-Cloudy-Rain-icon.png">  
 <link rel="stylesheet" href="/css/style.css">
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    {{>header}}
    <h1>About Page</h1>
    <h4>{{title}}</h4> 
    <h5>{{name}}</h5>
  {{>footer}}
</body>

</html>