<!DOCTYPE html>
<head>
    <title>
        Help
    </title>
    <link  rel="icon" href="http://icons.iconarchive.com/icons/icons8/ios7/128/Weather-Partly-Cloudy-Rain-icon.png">
 <link rel="stylesheet" href="/css/style.css">
</head>
<body>
{{>header}}
    <h1> Help  Page </h1>
    <p>{{message}}</p>
    {{>footer}}
</body>

</html>